# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
node_modules
Будет удалено .gitignore
Будет удалено .idea/
Будет удалено icon/
Будет удалено index.html
Будет удалено js/
Будет удалено node_modules/
Будет удалено package-lock.json
Будет удалено package.json
Будет удалено style/
Будет удалено tsconfig.json
